/* styles.css */

body {
    margin: 0;
    padding: 0;
}

/* Settings for logo */

.logo img {
    max-width: 100%;
    width: 75%;
    display: block;
    margin: 0 auto;
}
/*
@media (max-width: 1500px) {
    .logo img {
        width: 75%;
    }
}*/

/* Settings for social icons */

.social-icons {
    text-align: center;
    margin: 0;
}

.social-icons a {
    margin-right: 5vw;
    margin-left: 5vw;
    text-decoration: none;
    color: #000000;
}

.social-icons i {
    font-size: 15vw;
}
/*
@media (max-width: 1500px) {
    .social-icons i {
        font-size: 120px;
    }
}*/